test/minimc_basictypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- simple types -->

<xs:simpleType name="NonNegativeDouble">
  <xs:restriction base="xs:double">
    <xs:minInclusive value="0.0"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="StrictlyPositiveDouble">
  <xs:restriction base="xs:double">
    <xs:minExclusive value="0.0"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="ParticleType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="neutron"/>
    <xs:enumeration value="photon"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="ParticleTypeList">
  <xs:list itemType="ParticleType"/>
</xs:simpleType>

<xs:simpleType name="GroupXS">
  <xs:list itemType="NonNegativeDouble"/>
</xs:simpleType>

<xs:simpleType name="TrackingType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="surface"/>
    <xs:enumeration value="cell delta"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="DoubleList">
  <xs:list itemType="xs:double"/>
</xs:simpleType>

<!-- complex types -->

<xs:complexType name="PointType">
  <xs:attribute name="x" type="xs:double" use="required"/>
  <xs:attribute name="y" type="xs:double" use="required"/>
  <xs:attribute name="z" type="xs:double" use="required"/>
</xs:complexType>

<xs:complexType name="GroupXSReactions">
  <xs:all>
    <xs:element name="capture" type="GroupXS" minOccurs="0"/>
    <xs:element name="scatter" type="GroupXS" minOccurs="0"/>
    <xs:element name="fission" minOccurs="0">
      <xs:complexType>
        <xs:all>
          <xs:element name="xs" type="GroupXS"/>
          <xs:element name="nubar" type="GroupXS"/>
          <xs:element name="chi" type="GroupXS"/>
        </xs:all>
      </xs:complexType>
    </xs:element>
  </xs:all>
</xs:complexType>

<xs:complexType name="MultigroupNuclearData">
  <xs:choice minOccurs="1" maxOccurs="unbounded">
    <xs:element name="nuclide">
      <xs:complexType>
        <xs:all>
          <xs:element name="neutron" type="GroupXSReactions" minOccurs="0"/>
          <xs:element name="photon" type="GroupXSReactions" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="name" use="required"/>
      </xs:complexType>
    </xs:element>
  </xs:choice>
  <xs:attribute name="groups" type="xs:positiveInteger" use="required"/>
</xs:complexType>

<xs:complexType name="ContinuousEvaluation">
  <xs:attribute name="file" type="xs:anyURI" use="required"/>
  <xs:attribute name="temperature" type="StrictlyPositiveDouble" use="required"/>
</xs:complexType>

<xs:complexType name="ContinuousXSReactions">
  <xs:all>
    <xs:element name="total" type="ContinuousEvaluation"/>
    <xs:element name="capture" type="ContinuousEvaluation" minOccurs="0"/>
    <xs:element name="scatter" minOccurs="0">
      <xs:complexType>
        <xs:all>
          <xs:element name="xs" type="ContinuousEvaluation"/>
          <xs:element name="tnsl" minOccurs="0">
            <xs:complexType>
              <xs:all>
                <xs:element name="beta_partitions" minOccurs="1">
                  <xs:complexType>
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                      <xs:element name="partition" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:attribute name="CDF" type="xs:anyURI" use="required"/>
                          <xs:attribute name="S" type="xs:anyURI" use="required"/>
                          <xs:attribute name="E_T" type="xs:anyURI" use="required"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:complexType>
                </xs:element>
                <xs:element name="alpha_partitions" minOccurs="1">
                  <xs:complexType>
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                      <xs:element name="partition" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:attribute name="CDF" type="xs:anyURI" use="required"/>
                          <xs:attribute name="S" type="xs:anyURI" use="required"/>
                          <xs:attribute name="beta_T" type="xs:anyURI" use="required"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:complexType>
                </xs:element>
              </xs:all>
              <xs:attribute name="majorant" type="xs:anyURI" use="required"/>
              <xs:attribute name="total_E" type="xs:anyURI" use="required"/>
              <xs:attribute name="total_T" type="xs:anyURI" use="required"/>
              <xs:attribute name="total_S" type="xs:anyURI" use="required"/>
              <xs:attribute name="beta_cutoff" type="StrictlyPositiveDouble" use="required"/>
              <xs:attribute name="alpha_cutoff" type="StrictlyPositiveDouble" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:all>
      </xs:complexType>
    </xs:element>
    <xs:element name="fission" minOccurs="0">
      <xs:complexType>
        <xs:all>
          <xs:element name="xs" type="ContinuousEvaluation"/>
          <xs:element name="nubar" type="ContinuousEvaluation"/>
      </xs:all>
      </xs:complexType>
    </xs:element>
  </xs:all>
</xs:complexType>

<xs:complexType name="ContinuousNuclearData">
  <xs:choice minOccurs="1" maxOccurs="unbounded">
    <xs:element name="nuclide">
      <xs:complexType>
        <xs:all>
          <xs:element name="neutron" type="ContinuousXSReactions" minOccurs="0"/>
          <xs:element name="photon" type="ContinuousXSReactions" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="name" use="required"/>
        <xs:attribute name="awr" type="StrictlyPositiveDouble" use="required"/>
      </xs:complexType>
    </xs:element>
  </xs:choice>
</xs:complexType>

<xs:complexType name="SurfaceDefinition">
  <xs:attribute name="name" type="xs:normalizedString" use="required"/>
</xs:complexType>

<xs:complexType name="CSGDefinition">
  <xs:choice minOccurs="1" maxOccurs="unbounded">
    <xs:element name="surface">
      <xs:complexType>
        <xs:attribute name="name" type="xs:normalizedString" use="required"/>
        <xs:attribute name="sense" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="+1"/>
              <xs:enumeration value="-1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:complexType>
    </xs:element>
  </xs:choice>
</xs:complexType>

<xs:complexType name="ScalarField">
  <xs:choice>
    <xs:element name="constant">
      <xs:complexType>
        <xs:attribute name="c" type="xs:double" use="required"/>
      </xs:complexType>
    </xs:element>
    <xs:element name="linear">
      <xs:complexType>
        <xs:all>
          <xs:element name="bounds">
            <xs:complexType>
              <xs:attribute name="lower" type="xs:double" use="required"/>
              <xs:attribute name="upper" type="xs:double" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="intercept">
            <xs:complexType>
              <xs:attribute name="b" type="xs:double" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="gradient" type="PointType"/>
        </xs:all>
      </xs:complexType>
    </xs:element>
  </xs:choice>
</xs:complexType>

<xs:complexType name="PointDistributionType">
  <xs:choice>
    <xs:element name="constant" type="PointType"/>
  </xs:choice>
</xs:complexType>

<xs:complexType name="DirectionDistribtionType">
  <xs:choice>
    <xs:element name="constant" type="PointType"/>
    <xs:element name="isotropic"/>
    <xs:element name="isotropic-flux" type="PointType"/>
  </xs:choice>
</xs:complexType>

<xs:complexType name="EnergyDistributionType">
  <xs:choice>
    <xs:element name="constant">
      <xs:complexType>
        <xs:attribute name="energy" type="StrictlyPositiveDouble" use="required"/>
      </xs:complexType>
    </xs:element>
  </xs:choice>
</xs:complexType>

<xs:complexType name="ParticleTypeDistributionType">
  <xs:choice>
    <xs:element name="constant">
      <xs:complexType>
        <xs:attribute name="type" type="ParticleType"/>
      </xs:complexType>
    </xs:element>
  </xs:choice>
</xs:complexType>

<xs:complexType name="SourceDistributionType">
  <xs:all>
    <xs:element name="position" type="PointDistributionType"/>
    <xs:element name="direction" type="DirectionDistribtionType"/>
    <xs:element name="energy" type="EnergyDistributionType"/>
    <xs:element name="particletype" type="ParticleTypeDistributionType"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="BinTypeBase">
  <xs:attribute name="min" type="xs:double" use="required"/>
  <xs:attribute name="max" type="xs:double" use="required"/>
  <xs:attribute name="bins" type="xs:positiveInteger" use="required"/>
</xs:complexType>

<xs:complexType name="BinType">
  <xs:choice>
    <xs:element name="linspace" type="BinTypeBase"/>
    <xs:element name="logspace">
      <xs:complexType>
        <xs:complexContent>
          <xs:extension base="BinTypeBase">
            <xs:attribute name="base" type="xs:double" use="optional"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:element>
    <xs:element name="boundaries">
      <xs:simpleType>
        <xs:restriction base="DoubleList">
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:choice>
</xs:complexType>

<xs:complexType name="ParticleBinType">
  <xs:all>
    <xs:element name="energy" type="BinType" minOccurs="0"/>
    <xs:element name="cosine" minOccurs="0">
      <xs:complexType>
        <xs:complexContent>
          <xs:extension base="BinType">
            <xs:attribute name="u" type="xs:double" use="required"/>
            <xs:attribute name="v" type="xs:double" use="required"/>
            <xs:attribute name="w" type="xs:double" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:element>
  </xs:all>
</xs:complexType>

<xs:complexType name="EstimatorSensitivitiesType">
  <xs:choice minOccurs="1" maxOccurs="unbounded">
    <xs:element name="perturbation">
      <xs:complexType>
        <xs:attribute name="name" type="xs:normalizedString" use="required"/>
      </xs:complexType>
    </xs:element>
  </xs:choice>
</xs:complexType>

<xs:complexType name="EstimatorDefinition">
  <xs:choice minOccurs="1" maxOccurs="unbounded">
    <xs:element name="current">
      <xs:complexType>
        <xs:all>
          <xs:element name="bins" type="ParticleBinType" minOccurs="0"/>
          <xs:element name="sensitivities" type="EstimatorSensitivitiesType" minOccurs="0">
            <xs:unique name="unique-sensitivity-name">
              <xs:selector xpath="./*"/>
              <xs:field xpath="@name"/>
            </xs:unique>
          </xs:element>
        </xs:all>
        <xs:attribute name="name" type="xs:normalizedString" use="required"/>
        <xs:attribute name="surface" type="xs:normalizedString" use="required"/>
      </xs:complexType>
    </xs:element>
  </xs:choice>
</xs:complexType>

<xs:complexType name="PerturbationDefinition">
  <xs:choice minOccurs="1" maxOccurs="unbounded">
    <xs:element name="total">
      <xs:complexType>
        <xs:attribute name="name" type="xs:normalizedString" use="required"/>
        <xs:attribute name="nuclide" type="xs:normalizedString" use="required"/>
      </xs:complexType>
    </xs:element>
  </xs:choice>
</xs:complexType>

</xs:schema>
