test/minimc_basictypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!--point type node-->
<xs:complexType name="PointType">
  <xs:attribute name="x" type="xs:float" use="required"/>
  <xs:attribute name="y" type="xs:float" use="required"/>
  <xs:attribute name="z" type="xs:float" use="required"/>
</xs:complexType>

</xs:schema>
